#!/bin/bash

cat << EOF
--------------------------------------------------------
Helm Install Command

❯ helm install flannel --namespace kube-flannel flannel/flannel -f flannel-values.yam
--------------------------------------------------------
EOF