#!/bin/bash

cat << EOF
--------------------------------------------------------
Helm Install Command

## LAB-Native
❯ helm upgrade cilium cilium/cilium --namespace kube-system --version=1.17.6 -f ./cilium-values-lab-native.yaml

## LAB-Tunnel
❯ helm upgrade cilium cilium/cilium --namespace kube-system --version=1.17.6 -f ./cilium-values-lab-Tunnel.yaml

## LOCAL
❯ helm upgrade cilium cilium/cilium --namespace kube-system --version=1.17.6 -f ./cilium-values-local.yaml
--------------------------------------------------------
EOF

